@using PortfolioManagerWASM.Components
@inherits LayoutComponentBase
<div class="page">
    <div class="container">

        <main class="container mt-5">
            <article class="content px-4">
                @Body
            </article>
        </main>

    </div>
</div>