@using PortfolioManagerWASM.Components
@inherits LayoutComponentBase
<div class="page">

    <div class="container">
        <Navbar />

        <main class="container-fluid mt-5">
                @Body
        </main>
    </div>

</div>