@using PortfolioManagerWASM.Components.Login
@using PortfolioManagerWASM.Services.IService
@using System.ComponentModel.DataAnnotations
@inject IUserService UserService

@layout LoginLayout

@page "/login"
<div class="container">

    @switch (LoginView)
    {
        case LoginView.LogIn:
            {
                <LogInFormComponent LoginUserAsyncDelegate="@LoginUserAsyncDelegate"></LogInFormComponent>
                <button @onclick="ChangeView" class="btn btn-primary mt-3">Sign In</button>
            }
            break;
        case LoginView.SignIn:
            {
                <SignInFormComponent RegisterNewUserAsyncDelegate="@RegisterUserAsyncDelegate"></SignInFormComponent>
                <button @onclick="ChangeView" class="btn btn-primary">Back</button>
            }
            break;
        default:
            <p>Server under maintenance. We apologize for the inconvenience</p>
            break;
    }

</div>