@using PortfolioManagerWASM.Components.UserProfile
@layout MainLayout

@page "/userProfile"
<div class="container">
    @switch (UserProfileView)
    {
        case UserProfileView.ProfileView:
            <ProfileViewComponent ActiveUser="@ActiveUser" />
            <button type="button" class="btn btn-primary" @onclick="@ToUpdateView">Update</button>
            <button type="button" class="btn btn-primary" @onclick="@DeleteUserAsyncDelegate">Delete</button>
            break;
        case UserProfileView.UpdateView:
            <UpdateViewComponent UpdatePublicProfileAsyncDelegate="@UpdatePublicProfileAsyncDelegate" />
            break;
        default:
            <p>Server under maintenance. We apologize for the inconvenience</p>
            break;
    }

</div>
